GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-west1
ARTIFACT_REPOSITORY=your-artifact_registry_repository
INGESTION_IMAGE_NAME=ingestion
DBT_IMAGE_NAME=dbt
RAW_BUCKET_NAME=your-project-raw-bucket
RAW_DATASET_ID=raw
