project_id                   = "your-gcp-project-id"
region                       = "europe-west1"
raw_bucket_name              = "your-project-raw-bucket"
raw_dataset_id               = "raw"
stg_dataset_id               = "stg"
int_dataset_id               = "int"
mart_dataset_id              = "mart"
artifact_registry_repository = "your-artifact_registry_repository"
ingestion_service_account_id = "sa-ingestion"
dbt_service_account_id       = "sa-dbt"
ingestion_job_name           = "ingestion-job"
ingestion_image_name         = "ingestion"
dbt_job_name                 = "dbt-job"
dbt_image_name               = "dbt"
